fastapi
uvicorn[standard]
openai
spacy
requests
nltk
hf_xet
dotenv
pdfplumber
python-docx
python-multipart
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
